{%extends "base.html"%}
{%load plotly_dash%}

{%block temp-cat-starting-reports%}open{%endblock%}
{%block temp-report-lineitems%}active{%endblock%}

{%block title%}Line item totals{%endblock%}
{%block reporttitle%}Line item totals{%endblock%}
{%block reporttitle2%}Line item totals{%endblock%}
{%block summary%}Line items by popularity{%endblock%}

{%block content%}
  Sort by a field to sort the table. You can also hide rows by clicking the <tt>x</tt> at the edge of a row.
  {% load plotly_dash %}
  {% plotly_direct name="report_lineitems" %}
{%endblock%}