{%extends "base.html"%}
{%load plotly_dash%}

{%block temp-cat-starting-reports%}open{%endblock%}
{%block temp-report-projections%}active{%endblock%}

{%block title%}Annual Income Projections{%endblock%}
{%block reporttitle%}Annual Income Projections{%endblock%}
{%block reporttitle2%}Annual Income Projections{%endblock%}
{%block summary%}Forecast for past vs future annual income{%endblock%}

{%block content%}
To use the report, choose "weekly" or "yearly" below. Then you can toggle between days or weeks.
{% load plotly_dash %}



{% plotly_direct name="report_projections" %}


{%endblock%}