{%extends "base.html"%}
{%load plotly_dash%}

{%block temp-cat-starting-reports%}open{%endblock%}
{%block temp-report-orders%}active{%endblock%}

{%block title%}Closeout totals{%endblock%}
{%block reporttitle%}Closeout totals{%endblock%}
{%block reporttitle2%}Closeout totals{%endblock%}
{%block summary%}Totals of closeouts over time{%endblock%}

{%block content%}
  Select which days of the week to include. Then you can aggregate by days/weeks/months.
  {% load plotly_dash %}
  {% plotly_direct name="report_orders" %}
{%endblock%}